@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,200;0,300;0,400;0,900;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
}
p {
  margin: 0;
  padding: 0;
}
.color_height {
  height: 25px;
  background-color: orange;
  margin-bottom: 14px;
}
.footer_color {
  background-color: orange;
  height: 30px;
}
